build/
bin/
*.o
*.a
*.so
*.dylib
genwave
*.raw
*.wav
*.mp3
test_notes/
twinkle_notes/
output/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.dSYM/
*.su
*.idb
*.pdb
*.slo
*.lo
*.gch
*.pch
*.dll
*.mod
*.smod
*.lai
*.la
*.lib
*.exe
*.out
*.app
.Rhistory
Thumbs.db
*.bak
*.backup
*~
